<ul id="todo-list">
	<li *ng-for="#todo of todos" [class]="(todo.completed)?'completed':''">
	<div class="view" [class.hidden]="todoEdit == todo">
		<input class="toggle" type="checkbox"
				(click)="completeMe(todo)"
				[checked]="todo.completed">

		<label (dblclick)="editTodo(todo)">{{todo.title}}</label>
		<button class="destroy" (click)="deleteMe(todo)"></button>
	</div>

	<div>
		<input class="edit"
		[class.visible]="todoEdit == todo"
		[value]="todo.title"
		(keyup)="doneEditing($event, todo)">
	</div>
	</li>
</ul>