<section id="todoapp">
	<header id="header">
		<h1>Todos</h1>
		<input
		id="new-todo"
		placeholder="What needs to be done?"
		autofocus
		#newtodo
		(keyup.enter)="enterTodo(newtodo)">
  </header>
  
  <section id="main">
    <input id="toggle-all" type="checkbox" *ng-if="getTodoCount() > 0" (click)="toggleAll($event)">
    <ul id="todo-list">
      <li *ng-for="#todo of myTodos" [class]="(todo.completed)?'completed':''">
        <div class="view" [class.hidden]="todoEdit == todo">
          <input class="toggle" type="checkbox"
                 (click)="completeMe(todo)"
                 [checked]="todo.completed">

          <label (dblclick)="editTodo(todo)">{{todo.title}}</label>
          <button class="destroy" (click)="deleteMe(todo)"></button>
        </div>

        <div>
          <input class="edit"
            [class.visible]="todoEdit == todo"
            [value]="todo.title"
            (keyup)="doneEditing($event, todo)">
        </div>
      </li>
    </ul>
  </section>
  
  <footer id="footer">
    <span id="todo-count">Count: <b>{{getTodoCount()}}</b></span>
    <ul id="filters">
      <li>
        <a href="#/" class="selected">All</a>
      </li>
      <li>
        <a href="#/active">Active</a>
      </li>
      <li>
        <a href="#/completed">Completed</a>
      </li>
    </ul>
    <button id="clear-completed" (click)="clearCompleted()">Clear completed</button>
  </footer>
  
</section>
